//
// Carousel
// --------------------------------------------------


.carousel {
  position: relative;
  line-height: 1;
  margin: 0 auto;
  padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

.carousel-inner {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.carousel-inner {

  > .item {
    display: none;
    position: relative;
    .transition(.6s ease-in-out left);
    .clearfix();
    height: 300px;

    // Account for jankitude on images
    > img,
    > a > img,
    > div.carousel-img > img {
      display: block;
      line-height: 1;
      .pull-right;
    }

    .carousel-img {
        width: 280px;
        position: absolute;
        right: -20px;
        bottom: 0px;
    }
  }

  

  > .active,
  > .next,
  > .prev { display: block; }

  > .active {
    left: 0;
  }

  > .next,
  > .prev {
    position: absolute;
    top: 0;
    width: 100%;
  }

  > .next {
    left: 100%;
  }
  > .prev {
    left: -100%;
  }
  > .next.left,
  > .prev.right {
    left: 0;
  }

  > .active.left {
    left: -100%;
  }
  > .active.right {
    left: 100%;
  }

}

// Left/right controls for nav
// ---------------------------

.carousel-control {
  position: absolute;
  top: 160px; // 200px
  left: 16px;
  margin-top: -20px;
  line-height: 30px;
  color: @white;
  text-decoration: none;
  .opacity(50);

  // we can't have this transition here
  // because webkit cancels the carousel
  // animation if you trip this while
  // in the middle of another animation
  // ;_;
  // .transition(opacity .2s linear);

  // Reposition the right one
  &.right {
    left: 56px;

    &:hover {
        //left: 50px;
    }
  }

  // Hover/focus state
  &:hover,
  &:focus {
    color: @white;
    text-decoration: none;
    .opacity(100);
    //left: 0;
  }
}

// Carousel indicator pips
// -----------------------------
.carousel-indicators {
  position: absolute;
  top: 135px; //80px;
  left: 16px; //110px;
  z-index: 5;
  margin: 0;
  list-style: none;

  li {
    display: block;
    float: left;
    width: 12px;
    height: 12px;
    margin-right: 5px;
    text-indent: -999px;
    .border-radius(5px);
    border: 1px solid #fff;
    cursor: pointer;
  }
  .active {
    background-color: #fff;
  }
}

// Caption for text below images
// -----------------------------

.carousel-caption {
    padding: 0;
    padding-left: 16px;
    width: 270px;
}
.carousel-caption h2,
.carousel-caption p {
  color: @white;
  line-height: @baseLineHeight;
  text-shadow: 1px 1px 6px #777;
}
.carousel-caption h2 {
    margin: 0 0 5px;
    font-size: 18px; //24px;
    line-height: 16px; //25px;
    text-shadow: 1px 1px 6px #777;
    text-transform: uppercase;
}
.carousel-caption p {
    margin-bottom: 0;
    font-size: 12px; //17px;
    line-height: 13px;
    text-shadow: 1px 1px 5px #777;
}


