#course #summary .courseSummary,
#course #summary .courseWrap,
#course #summary #gallery {
    background: #fff;
}

#course h2.subHeading {
    margin: 0;
    text-align: center;
    color: #fff;
    padding: 7px 0;
    font-size: 18px;
    #gradient > .td(#928f8e, #676463);
    .border-top-radius(7px);
}

#course .summary {
    padding: 7px 10px;
    border: 1px solid #D5D5D5;
    border-top: 0;
    color: #908f90;
    font-size: 13px;
    line-height: 18px;
}

#course #tabs > div {
    margin-bottom: 15px;
    .border-top-radius(7px);
}

#course .summaryDetail {
    .pull-left;
    font-weight: bold;

    .price {
        color: #a5d438;
    }
}

#course .summaryBtn {
    .pull-right;
}

#course #summary .courseWrap {
    margin-top: 150px;
}

#course .courseWrap {
    padding: 7px 10px;
    border: 1px solid #d5d5d5;
}

#course .courseSummary.hidden-desktop {
    margin-bottom: 15px;
}

#course .courseWrap h2 {
    color: #8dbd1d;
    font-size: 18px;
    margin: 10px 0;
}

#directions-text,
    #text-wrap .text,
    #coursesList,
    #courses .courseWrap  {

    ul {
            margin: 0;
        }

    li {
        padding-left: 17px;
        list-style: none;
        background: url("@{finalSpritePath}/green-arrow.png") no-repeat 5px 5px;
    }
}

#course .summaryText {
    padding: 10px;
    margin-top: 15px;
    border: 1px solid #D5D5D5;

    h2 {
        color: #8dbd1d;
        font-size: 18px;
    }
}

#course .courseWrap h3 {
    font-size: 17px;
}

#course .summary a.reserve {
    float: right;
    height: 28px;
    line-height: 28px;
    padding: 0 10px;
    margin-top: 30px;
    color: #fff;
}

#courselist ul {
    margin-bottom: 10px;
}

#course #reviews .review {
    margin: 0;
    margin-top: 25px;
    padding-left: 40px;
    .clearfix();
    background: url("@{imgPath}/bullet.png") no-repeat 5px 3px;
}

#course .review-excerpt,
#course .review-author,
#course .review-text {
    .pull-left;
}

#course .review-excerpt {
    color: #8dbd1d;
    font-size: 16px;
    font-weight: bold;
    width: 420px;
}

#course .review-author {
    font-size: 12px;
    line-height: 13px;
}

#course .review-text {
    margin-top: 10px;
}

#course .review-meta,
#course .review-meta img {
    .pull-right;
}

#course .review-meta {
    font-weight: bold;
}

#course .review-rate,
#course .review-date {
    font-size: 11px;
    text-align: right;
}

#course .review-rate {
    color: #8dbd1d;
}


#course #course-partner {
    background: #fff;
    border: 1px solid #d2d2d2;
    .border-radius(7px);
    padding: 10px;
    margin-bottom: 20px;

    p {
        float: left;
        margin: 0;
        line-height: 28px;
    }

    img {
        margin-left: 10px;
    }
}

#course #course-branch {
    float: right;
    line-height: 30px;
    padding-right: 5px;

    ul {
        margin: 0;
        background: #fff;
        position: absolute;
        margin-left: -20px;
        width: 110px;
        z-index: 1;
        display: none;
    }

    li {
        list-style: none;

        &:first-child {
            a {
                border-top: none;
            }
        }

        a {
            padding: 5px 10px 5px 20px;
            display: block;
            border-top: 1px solid #d2d2d2;
            text-shadow: 1px 1px 3px #fff;

            &:hover {
                background: #cae291;
                color: #678e0e;
                text-decoration: none;
            }
        }
    }

    a {
        span {
            padding-left: 5px;
        }
    }

    &.active {
        ul {
            display: block;
        }
        
        a > span {
            .sprite-downarrow-course;
        }
    }
    
}

#course #gallery h3 {
    color: #5f5654;
    font-size: 17px;
    font-weight: 700;
    height: 38px;
    line-height: 36px;
    margin: 0;
    padding-left: 20px;
    text-shadow: 1px 1px 5px #fff;
}

#content div#highlight .thumbnail img,
#coursesList div.course .thumbnail a img {
    border: 1px solid #dedede;
    .border-radius(7px);
    padding: 10px;
}

#overview {
    border: 1px solid #D5D5D5;
    .border-radius(7px);
    margin-bottom: 20px;
    overflow: hidden;
    padding: 15px;
    background: #fff;
}

#overview .thumbnail {
    border: 1px solid #DEDEDE;
    .border-radius(2px);
    float: none;
    margin: 0 auto 10px;
    width: 225px;
    padding: 10px;
}

#overview_info {
    float: left;
    //width: auto; //345px;
}

#overview h1 {
    font-size: 20px;
    margin: 0;
    line-height: 22px;
}

#overview h2 {
    color: #8dbd1d;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 15px;
}

#overview h3 {
    font-size: 18px;
    margin: 5px 0 20px 0;
    color:#9e9a99;
}

#overview_info h3 {
    font-size: 13px;
    color: #827f80;
}

#overview p.startingDate {
    color: #8dbd1d;
    font-size: 17px;
    margin: 0;
}

#overview p.startingDate span {
    color: #827f80;
    font-size: 15px;
    font-weight: bold;
}

#overview p.where {
    color: #8dbd1d;
    font-size: 17px;
    margin: 0;
}

#overview p.where span {
    color: #827f80;
    font-size: 12px;
    font-weight: bold;
}

#overview p.price {
    float: left;
    font-size: 20px;
    font-weight: 700;
    margin-top: 40px;
}

#overview .prices {
    float: left;
    margin: 20px 0 10px;
}

#overview .prices .main_price span {
    font-size: 25px;
    font-weight: bold;
    color: #5f5654;
}

#overview .prices .sub_price {
    color: #827f80;
    font-size: 11.02px;
}

#overview .prices .sub_price span {
    font-size: 18px;
    font-weight: bold;
    color: #7f7876;
}

#overview .prices {
    color: #cecece;
}

#overview .prices .star {
    color: #96ca1f;
    font-size: 20px;
}

#overview a.button {
    float: right;
    font-size: 15px;
}