/* CUSTOM INPUT */

/* checkboxes and radio buttons
----------------------------------*/
/* wrapper divs */
.custom-checkbox, .custom-radio {
    position: relative;
}
/* input, label positioning */
.custom-checkbox input,  .custom-radio input {
    position: absolute;
    //left: 2px;
    //top: 3px;
    margin: 0;
    z-index: 0;
}
.custom-checkbox label,  .custom-radio label {
    display: block;
    position: relative;
    z-index: 1;

    padding-right: 1em;
    line-height: 1;
    padding: .6em 0 .5em 30px !important;
    margin: 0 0 1em;
    cursor: pointer;
}
.custom-checkbox label {
    background: url(../img/checkbox.png) no-repeat;
}
.custom-radio label {
    background: url(../img/radiobutton.png) no-repeat;
}
.custom-checkbox label, .custom-radio label {
    background-position: -10px -14px;
}
.custom-checkbox label.hover,  .custom-checkbox label.focus,  .custom-radio label.hover,  .custom-radio label.focus {
    background-position: -9px -114px;
}
.custom-checkbox label.checked,  .custom-radio label.checked {
    background-position: -9px -214px;
}
.custom-checkbox label.checkedHover,  .custom-checkbox label.checkedFocus {
    background-position: -10px -314px;
}
.custom-checkbox label.focus,  .custom-radio label.focus {
    outline: none;
}


/* end custom input */