
/* LT8 */
.lt-ie8 #basket #basketWrap .colA {
    width: 397px;
}

.lt-ie8 #basket #basketWrap .colB {
    width: 539px;
}

.lt-ie8 input[type=text] {
    width: 95%;
}

.lt-ie8 #sidebar #basket_icon_side,
.lt-ie8 #sidebar #basket_side h3 {
    width: 90px;
}

.lt-ie8 #header ul#nav li:first-child a {
    border-radius: 7px;
    behavior: url(http://fetchak.com/ie-css3/ie-css3.htc);
}

.lt-ie8 #checkoutWrap .colC h2 > span {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 3px;
}

.lt-ie8 .sideh3 {
    background: #d1d1d1;
    font-size: 15px;
}

.lt-ie8 #search_sub input {
    margin-top: 1px;
}

.lt-ie8 #usercourse div.course .detail {
    width: 100px;
    float: left;
}

.lt-ie8 #uparrow {
    margin-left: 75px;
}

.lt-ie8 .subNav .subNavContainer {
    width: 715px;

    ul {
        width: 230px;
    }
}

.lt-ie8 #headLeft {
    position: relative;
    top: 9px;
}

.lt-ie8 #header img#headerLogo {
    left: 70px;
    top: -30px;
}

.lt-ie8 #sidebar #course-clients li {
    width: 123px;
}

.lt-ie8 #sidebar #recently-related li.recently a {
    width: 107px;
}

.lt-ie8 #sidebar #recently-related li.related a {
    width: 81px;
}

/* / LT8 */

/* LT9 */
.lt-ie9 .subNavContainer {
    background-color: #2a9db0;
}

.lt-ie9 .subNav ul li a:hover {

    background-color: #54b0bf;
}

/* / LT9 */
