#paypal ol {
    margin:0;
}

#paypal .priceTotal {
    font-size: 20px;
    font-weight: bold;
    color: #909090;
    .clearfix();
    padding: 20px 10px 20px 30px;

    span {
        float: right;
        font-size: 21px;
        color: #8dbd1d;
    }
}

#paypal label {
    float: left; 
    width: 100px;
}

#paypal button[type=submit] {
    float:right;
}

#paypal #contact_details_checkout > div {
    .clearfix();
}