/* jQuery.Rating Plugin CSS - http://www.fyneworks.com/jquery/star-rating/ */
div.rating-cancel,div.star-rating{float:left;width:19px;height:19px;text-indent:-999em;cursor:pointer;display:block;background:transparent;overflow:hidden}
div.rating-cancel,div.rating-cancel a{background:url(../images/sprite/delete.gif) no-repeat 0 -20px; display: none !important}
div.star-rating,div.star-rating a{background:url(../images/sprite/review-stars.png) no-repeat 0 0px}
div.rating-cancel a,div.star-rating a{display:block;width:19px;height:100%;background-position:0 0px;border:0}
div.star-rating{height:19px}
div.star-rating-on a{background-position:0 -20px!important}
div.star-rating-hover a{background-position:0 -20px}
/* Read Only CSS */
div.star-rating-readonly a{cursor:default !important}
/* Partial Star CSS */
div.star-rating{background:transparent!important;overflow:hidden!important}
.star-rating-control{overflow: hidden;}
/* END jQuery.Rating Plugin CSS */