#register .star {
    color: #a4d042;
    font-size: 18px;
}

#login #text-wrap,
#forgotpass #text-wrap {
    padding: 15px;
}

#login input[type=email],
#login input[type=password],
#forgotpass input[type=email], {
    margin-bottom: 0;
}

#login input[type=submit],
#forgotpass input[type=submit] {
    margin-top: 20px;
    .input-block-level;
}

#login .help-inline {
    margin-bottom: 15px;
}

#login h2,
#forgotpass h2 {
    background: none;
    text-align: center;
    font-size: 24px;
    color: #828182;
    margin-bottom: 20px;
}

#login h3,
#forgotpass h3 {
    font-size: 18px;
    color: #95c91f;
}

#login #content form,
#forgotpass #content form {
    margin: 0;
}

#login a.startHere,
#forgotpass a.startHere {
    margin: 0 auto;
    width: 30%;
    display: block;
    text-align: center;
    .box-sizing(content-box);

    &:hover {
        color: #fff;
    }
}