//
// Responsive: Tablet to desktop
// --------------------------------------------------

//Common styles for tablet portrait - desktop

@media (min-width: 768px) {

    #course #summary .courseWrap {
        margin-top: 0;
    }

.carousel-control {
    top: 200px;
}

#content, .content {
        .pull-right;
    }

    .col {
        .pull-left;
    }

    #content div#highlight h1 {
        font-size: 13px;
    }

    #sidebar {
        float: left;
        margin-top: 0;//48px;
    }

    #reviews .review-wrap {
        padding: 20px;
    }

    #reviews .review-wrap .user-ratings div:nth-child(odd) {
        width: 240px;
    }

    #reviews .users-rating > img {
        width: auto;
    }

    #reviews .review-wrap .review-rm {
        width: margin: 0;
        top: 35px;
    }

    .read_more {
        float: none;
    }

    #overview a.button {
        margin-top: 30px;
    }

    #overview .thumbnail {
        .pull-left;
    }

    #basket .colA,
    #basket .colA h2 {
        .border-radius(0);
        .border-top-left-radius(7px);
    }

    #basket .colB,
    #basket .colB h2 {
        .border-radius(0);
        .border-top-right-radius(7px);
    }
    
    #basket .colA {
        border-right: 1px solid #fff;
    }

    #basketWrap form button {
        width: auto;
        .pull-right;
    }

    #checkout #checkoutWrap {
        border: 1px solid #d2d2d2;
        background: #fff;
    }

    #checkoutWrap .colA,
    #checkoutWrap .colB,
    #checkoutWrap .colC {
        float: left;
        margin-bottom: 0;
        border: none;
    }

    #checkoutWrap .colA,
    #checkoutWrap .colA h2 {
        .border-top-right-radius(0);
    }

    #checkoutWrap .colB,
    #checkoutWrap .colB h2 {
        .border-top-left-radius(0);
    }

    #checkoutWrap .colB h2 span,
    #checkoutWrap .colC h2 span {
        .border-radius(0);
    }

    #checkoutWrap .colC,
    #checkoutWrap .colC h2 {
        .border-radius(0);
    }

    #checkoutWrap .colA {
        border-right: 1px solid #d2d2d2;
    }

    #checkoutWrap .colC {
        border-top: 1px solid #d2d2d2;
    }

    #checkoutWrap h2.stepFinal {
        border: none;
    }

    #checkoutWrap .colC .checkout_content {
        border: none;
    }

    #checkoutWrap input[type="submit"] {
        width: auto;
        float: right;
        margin-right: 15px;
    }

    #login #text-wrap,
    #forgotpass #text-wrap {
        padding: 0;
    }

    #login #content .login,
    #login #content .register,
    #forgotpass #content section.forgotpass,
    #forgotpass #content .register {
        float: left;
        padding: 20px 30px;
        width: 361px;
    }

    #login #content .login,
    #forgotpass #content section.forgotpass {
        background: #dadada;
        .border-left-radius(7px);
    }

    #login #content .register,
    #forgotpass #content .register {
        .border-right-radius(7px);
    }
    
    #login input[type=submit],
    #forgotpass input[type=submit] {
        width: auto;
        float: right;
    }

    #login label,
    #forgotpass label {
        width: 80px;
        float: left;
    }

    #login input[type=email],
    #login input[type=password],
    #forgotpass input[type=email] {
        width: 220px;
        float: left;
        margin-bottom: 0;
    }

    #login .help-inline {
        margin-left: 80px;
        margin-bottom: 15px;
    }

    #login .forgotpass {
        margin-left: 80px;
        padding-left: 5px;
    }

    #login #content header,
    #forgotpass #content header {
        margin-bottom: 40px;
    }

    #forgotpass input[type=submit] {
        margin-top: 70px;
    }

    #summary #course .courseWrap {
        margin-top: 0px;
    }
    
    #special_offer_wrap {
        position: static;
        background: #fff;
        border: 1px solid #d5d5d5;
        border-bottom: none;
        border-top: 0;

        #special_offer {

            #special_offer_img {
                
            }
        }
    }

    .carousel-indicators {
        left: 0px;
    }

    .carousel-inner {
        //margin-left: 30px;
    }

    .carousel-control {
        left: 0px;
        
        &.right {
            left: 40px;
        }
    }
    
}

// Just Tablets

@media (min-width: 768px) and (max-width: 979px) {

  // Fixed grid
  #grid > .core(@gridColumnWidth768, @gridGutterWidth768);
  // Input grid
  #grid > .input(@gridColumnWidth768, @gridGutterWidth768);

  // No need to reset .thumbnails here since it's the same @gridGutterWidth

    #content, .content {
        width: 474px;
    }

    #sidebar {
        width: 230px;
    }

    .mobileSubNav {
        background: #248897 url("@{imgPath}/tabletBGImg.png") no-repeat 50% 100%;
        padding-left: 0;
        padding-right: 0;
    }

    #coursesList div.course .thumbnail {
        .pull-left;
        width: 150px;
        margin-right: 15px;
    }

    #coursesList div.course .course_descr {
        .pull-left;
        width: 260px;
    }

    #coursesList div.course {
        padding: 20px 15px;
    }

    #home #coursesList div.course h3 {
        text-align: left;
    }

    #home #welcome {
        width: 240px;
        margin-top: 0;
    }
    
    #content div#highlight .thumbnail {
        width: 180px;
        margin-right: 15px;
    }

    .typeahead {
        width: 211px;
    }

    #overview .thumbnail {
        margin-right: 10px;
        width: 150px;
    }

    #overview_info {
        width: 280px;
    }

    #overview_info h3 {
        font-size: 12px;
        line-height: 15px;
    }

    #basket #basketWrap {
        .clearfix();
    }

    #basket .colA,
    #basket .colB {
        width: 360px;
        .pull-left;
    }
    
    #basketWrap #finalPrice .discountTotal {
        border-bottom: none;
    }
    
    #checkoutWrap .colA {
        width: 361px;
    }

    #checkoutWrap .colB {
        width: 360px;
    }

    #checkoutWrap .colC {
        width: 360px;
    }

    #contact #sidebar #get-directions h3 {
        font-size: 17px;
    }

    .carousel-inner > .item {
    
        height: 220px;

        .carousel-img {
            width: 315px;
            right: 40px;
            bottom: 10px;
        }

     }

    .carousel-caption {
        width: 380px;
        padding-left: 0px;
        
        h2 {
            font-size: 20px;
            line-height: 20px;
        }
        
        p {
            font-size: 15px;
            line-height: 15px;
        }
    }

    #course .courseSummary.hidden-desktop {
        margin-bottom: 0;
    }

    #special_offer_wrap {
        padding-top: 10px;
        background: #fff;
        border: 1px solid #d5d5d5;
        border-top: none;
    }
    
    #course .summaryDate,
    #course .summaryDetail {
        .pull-left;
        width: 188px;
    }

    #course .summaryBtn a.reserve {
        margin-top: 15px;
    }

    #special_offer_wrap #special_offer {

        #special_offer_img {
            background: url("@{imgPath}/special_offer_tablet_new.png");
            background-size: cover;
            width: 474px;
            height: 105px;
        }
    }

}

//Mobile & tablet shared

@media (max-width: 979px) {
    #header-search {
        .pull-left;
    }

    #header #header-search form input.span3 {
        height: 36px;
    }

    #overview p.where,
    #overview p.startingDate {
        font-size: 13px;

        span {
            font-size: 12px;
        }
    }

    #overview .prices .main_price span {
        font-size: 20px;
    }

    #overview .prices .sub_price span {
        font-size: 14px;
    }

    #overview a.button {
        font-size: 12px;
        height: 35px;
        line-height: 35px;
    }

/* Force table to not be like tables anymore */
	#personal table, #personal thead, #personal tbody, #personal th, #personal td, #personal tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	#personal thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	#personal tr { border: 1px solid #ccc; }
	
        #personal.managing tr td {text-align: right;}

	#personal td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	#personal td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
                text-align: left;
	}

        .trainerWrap .top {display: none;}
	
	/*
	Label the data
	*/
	#personal.managing tr td:nth-of-type(2):before { content: "Course Name"; }
	#personal.managing tr td:nth-of-type(3):before { content: "Classes"; }
	#personal.managing tr td:nth-of-type(4):before { content: "Session"; }
	#personal.managing tr td:nth-of-type(5):before { content: "Seats"; }
	#personal.managing tr td:nth-of-type(6):before { content: "Start date"; }
	#personal.managing tr td:nth-of-type(7):before { content: "Availability"; }
        #personal.managing tr td:nth-of-type(8):before { content: "View users"; }



}