//
// Responsive: Large desktop and up
// --------------------------------------------------

/*
@media (min-width: 1200px) {

    

  // Fixed grid
  //#grid > .core(@gridColumnWidth1200, @gridGutterWidth1200);

  // Fluid grid
  //#grid > .fluid(@fluidGridColumnWidth1200, @fluidGridGutterWidth1200);

  // Input grid
  //#grid > .input(@gridColumnWidth1200, @gridGutterWidth1200);

  // Thumbnails
  .thumbnails {
    margin-left: -@gridGutterWidth1200;
  }
  .thumbnails > li {
    margin-left: @gridGutterWidth1200;
  }
  .row-fluid .thumbnails {
    margin-left: 0;
  }

    

}
*/

@media (min-width: 980px) {

    #header #header-search form input.span3 {
        //height: 26px;
    }

    section#contentWrap #content {
        //.pull-right;
    }

    #content,
    .content {
        width: 670px;
        min-height: 1px;
    }

    #sidebar {
        width: 250px;
        min-height: 1px;
    }

    #footerContent ul#social {
        position: absolute;
        left: 726px;
        bottom: 50px;
        top: auto;
        width: 233px;
    }

    #header-search form {
        margin-right: 72px;
    }

    .col {
        .pull-left;
    }

    #coursesList div.course .course_descr {
        width: 380px;
    }

    #coursesList div.course {
        padding: 20px;
    }

    #coursesList div.course .thumbnail {
        margin-right: 20px;
        .pull-left;
        width: auto;
    }

    #home #coursesList div.course h3 {
        text-align: left;
    }

    #content #welcome {
        width: 320px;
        .pull-left;
        margin-left: 20px;
    }

    #content div#highlight h2 {
        font-size: 21.49px;
    }

    .typeahead {
        width: 265px;
        //left: 750px !important;
    }

    #tabs .courseWrap {
        padding: 20px 47px 15px;
        font-size: 14.86px;
        color: #908f90;
    }

    #directions-text li,
    #text-wrap .text li,
    #coursesList li,
    #courses .courseWrap li {
        margin-left: 15px;
        background-position: 0 4px;
        padding-left: 15px;
    }

    #overview .thumbnail {
        margin-right: 20px;
    }

    #overview_info {
        width: 360px;
    }

    #header #header-search {
        margin-right: 145px;
        margin-bottom: 15px;
    }

    #header #search_form .input-append {
        .border-right-radius(7px);
    }

    #basket #basketWrap .colA,
    #basket #basketWrap .colB {
        .pull-left;
    }

    #basket #basketWrap .colA {
        width: 399px;
    }

    #basket #basketWrap .colB {
        width: 541px;
    }

    #checkout .colA {
        width: 469px;
        float: left;
    }
    
    #checkout .colB,
    #checkout .colC {
        width: 468px;
    }

    #main {
        background: #f3f3f3 url('@{imgPath}/mainGrad.jpg') repeat-x bottom;
        padding-bottom: 100px;
    }

    #register .fullWidth .colA,
    #register .fullWidth .colB {
        float: left;
        width: 449px;
    }

    #register .fullWidth label {
        float: left;
        width: 130px;
        margin-left: 35px;
        line-height: 30px;
    }

    #register .fullWidth .text input[type="text"], 
    #register .fullWidth .text input[type="password"], 
    #register .fullWidth .text input[type="tel"], 
    #register .fullWidth .text input[type="email"] {
        float: left;
        width: 250px;
    }

    #register .fullWidth input#address2 {
        margin-left: 165px;
    }

    #register .fullWidth div.selectwidth {
        width: 100%;
        float: left;

        .selectBox {
            width: 250px !important;
        }
    }

    #register .fullWidth input[type=submit] {
        margin-right: 34px;
    }
    
    #login #content .login,
    #login #content .register,
    #forgotpass #content section.forgotpass,
    #forgotpass #content .register {
        width: 469px;
        padding: 20px 60px;
    }

    #login input[type=email],
    #login input[type=password],
    #forgotpass input[type=email],
    #forgotpass input[type=password] {
        width: 269px;
    }

    #directions #map {
        width: 600px;
        height: 400px;
        float: left;
        margin: 0;

        > a {
            background: none;
        }
    }
      
    #footer {
        background: url('../img/footerBg_new.png') repeat-x;
    }

    #footerBg {
        background: url('../img/footerArtBg_new2.png') center 10px no-repeat;
    }

    #footerBg2 {
        background: none;
    }
 
    #footer, #footerBg, #footerBg2 {height: 545px;}

    #footerContent p.copy {
        position: absolute;
        left: 470px;
        width: 480px;
        bottom: 0;
        top: auto;
        bottom: 0;
        text-align: right;
        margin-bottom: 10px;
    }

    #course.course_location .courseWrap {
        padding: 20px 47px 15px;
    }

    #special_offer_wrap #special_offer {
        position: relative;
        width: 720px;
        left: -34px;
        background: none;
        padding: 0;

        #special_offer_img {
            background: url("@{imgPath}/special_offer_new.png") no-repeat;
            height: 150px;
            background-size: auto;
        }
    }

    .carousel-indicators { 
        top: 80px;
        left: 86px;
    }

    .carousel-control {
        left: 0;
        top: 130px;
    }
    
    .carousel-control.sprite-slider-prev {
        .sprite-slider-prev-large;
    }

    .carousel-control.sprite-slider-next {
        .sprite-slider-next-large;
        left: auto;
        right: 0;
    }

    .carousel-inner {
        margin-left: 70px;
    }

    .carousel-inner > .item {
        height: 290px;
    }

    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        margin-right: 50px;
    }

    .carousel-inner > .item .carousel-img {
        width: auto;
        right: 130px;
    }

    .carousel-caption {
        width: 400px;
        padding-top: 70px;
        
        h2 {
            font-size: 24px;
            line-height: 24px;
        }
        
        p {
            font-size: 17px;
            line-height: 17px;
        }
    }

    #slider {
        background-size: 100%;
    }

    #content div#highlight .thumbnail {
        width: 240px;
    }
    
    #header #header-search form input.span3 {
        width: 206px;
    }

    #header a.logo {
        position: relative;
        top: 20px;
        left: 20px;
    }

}
