#sidebar {
    margin-top: 30px;
}

#sidebar h3 {
    border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
}

#sidebar ul,
#sidebar ol {
    margin: 0;
}

#sidebar > div {
    margin-bottom: 20px;
    .border-radius(7px);
    border: 1px solid #dddddd;
    background: #fff;
    position: relative;
    z-index: 1;
}

#sidebar li {
    .transition(all 0.3s ease-out);
    list-style-type: none;
}

#sidebar .course-diploma {
    text-transform: uppercase;
}

#sidebar .course-diploma a {
    text-decoration: none;
}

#sidebar .course-diploma-wrap {
    text-align: right;
    //overflow: hidden;
}

#sidebar .diploma-header,
#sidebar .diploma-body,
#sidebar .diploma-footer {
    padding-left: 15px;
    padding-right: 5px;
}

#sidebar .diploma-header {
    padding-top: 10px;
    padding-bottom: 7px;
    font-size: 12px;
    color: #36a6bb;
    line-height: 16px;
}

#sidebar .diploma-body {
    background: #d2d2d2;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 9px;
    font-weight: bold;
    color: #5f5654;
    text-shadow: 1px 1px 1px #fff;
    text-transform: none;
    line-height: 15px;
    
}

#sidebar .diploma-footer {
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center;
    .border-bottom-radius(7px);
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px 1px #868686;
    text-transform: none;
    font-size: 16px;
    line-height: 19px;
}

#sidebar .diploma-image {
    position: relative;
    top: -18px;//182px;
    left: 0;

    img {
        position: absolute;
        left: 0;
    }
}

#sidebar #related_courses li.see_more a {
    color: #8DBD1D;
    text-decoration: underline;
}

#sidebar .side li {  
    a {
        padding: 10px 30px;
        color: #7d7d7d;
        text-decoration: none;
        font-size: 13px;
        display: block;
        border-top: 1px solid #dddddd; 

        &:hover {
            background: #ECF8FA;
        }
    }

    &.see_more a:hover {background: none}
}

#sidebar .side li.see_more:before {content: "";}

#sidebar .side li:before {
    content: url("@{finalSpritePath}/list-highlight.png");
    .opacity(0);
    float: left;
    padding-left: 10px;
    padding-top: 13px;
    .transition(all 0.3s ease-out);
}

#sidebar .side li:hover:before {
    //background: #ECF8FA url("@{finalSpritePath}/list-highlight.png") no-repeat 5% 50%;
    .opacity(100);
}

#sidebar .side .selected {
    background: #36BACF url("@{finalSpritePath}/white-arrow.png") no-repeat 95% 50%;

    &.selected:hover {
        background-image: #36BACF url("@{finalSpritePath}/white-arrow.png") no-repeat 95% 50%;
    }

    a {
        color: #fff;
    }
}

#sidebar #basket_side div {
    border-bottom: 1px solid #DDD;
    .clearfix();

    &:hover {
        background: none;
    }
}

#sidebar #basket_side h2 {
    margin: 0;
}

#sidebar #basket_side h3 {
    width: 120px;
    text-align: center;
    float: left;
}

#sidebar #basket_icon_side {
    float: right;
    line-height: 38px;
    padding-right: 22px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;//block;
    //padding-left: 14px;
    
    &:hover {
    
        .sprite-basket {
            .sprite-basket-hover;
        }

    }

    .sprite-basket {
        margin-right: 10px;
    }
}

#sidebar #recently-related {
    padding: 0;

    > ul {
        background: none;
        border: none;
        padding: 0;
        .border-radius(0);
        border-bottom: 5px solid #716E6D;
    }
    
    li {

        &.recently {
        
            .border-top-left-radius(7px);
            a {
                width: 137px;
                .border-top-left-radius(7px);
            }
        }

        &.related {
            .border-top-right-radius(7px);

            a {
                width: 111px;
                .border-top-right-radius(7px);
            }
        }


        &.ui-state-default {
            a {
                color: #5F5654;
                padding: 7px 15px;
                text-shadow: 0 1px 5px #fff;
                text-align: center;
            }
        }

        &.ui-state-active {
            a {
                #gradient > .td(#8F8C8B, #716E6D);
                color: #fff;
                text-shadow: none;
            }
        }
    }
}

#sidebar #recently-related div ul li:first-child,
#sidebar #recently-related div ul li:first-child a {
    border-top: none;
}

#sidebar #recently {

    li {
        border-top: 1px solid #DDD;
        border-bottom: none;
        padding: 10px;
    }
}

#sidebar #course-clients {

    li {
        border-bottom: 1px solid #DDD;
        border-left: 1px solid #DDD;
        float: left;
        width: 124px;

        &:nth-child(odd) {
            border-left: none;
        }
    }

    a.view-more {
        display: block;
        padding: 3px 0;
        text-align: center;
        text-decoration: none;
        background: #ecf8fa;
        .border-bottom-radius(7px);
        color: #5f5654;
    }
}

.navSimple a:active,
.buttonD a:active {
    position: relative;
    top: 1px;
}

.sideh3 {
    font-size: 15px;
    font-weight: bold;
    padding: 10px 10px 10px 20px;
    .greyGradient;
    text-shadow: 1px 1px 2px white;
    margin: 0px !important;
    color: #5f5654;
}

#sidebar #basket_side li {
    list-style-position: inside;
    list-style-type: decimal;
    padding: 10px;
    border-bottom: 1px solid #DDD;
    color: #8DBD1D;
    font-size: 16px;
    font-weight: bold;
}

#sidebar #basket_side li span.course_name {
    font-size: 11px;
    width: 150px;
    display: inline-block;
    margin-left: 5px;
    color: #717171;
}

#sidebar #basket_side .sprite-basket {
    margin-right: 10px;
}

#sidebar #basket_side li span {
    color: #999898;
    font-size: 14px;
}

#sidebar #basket_side .subTotal,
#sidebar #basket_side .discountTotal {
    padding: 10px;

    &:hover {
        background: #fff;
    }
}

#sidebar #basket_side .price {
    float: right;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    color: #999898;
}

#sidebar #basket_side .total {
    color: #9e9d9d;
}

#sidebar #basket_side li:hover {
    background: #ECF8FA;
}

#sidebar #basket_side a.close-course {
    position: relative;
    bottom: 0px;
    left: 233px;
    color: #9f9f9f;
    background: #F5F4F4;
    text-decoration: none;
    padding: 0 4px;
    border-bottom-left-radius: 6px;
    -moz-border-bottom-left-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
}

#sidebar #basket_side .total {
    font-size: 16px;
    font-weight: bold;
}

#basket .colB form span.selectBox-label {
    float: none;
}

#sidebar #basket_side h2 a.checkout {
    border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    text-align: center;
    display: block;
    padding: 10px 10px 10px 20px;
    font-size: 16px;
    letter-spacing: 1px;
}

#sidebar #basket_side .upay {
    font-weight: bold;
    color: #8DBD1D;
    font-size:14px;
}

#sidebar #newsletter {
    padding: 10px;
    overflow: hidden;
}

#sidebar #newsletter,
#sidebar #need_help,
#sidebar #basket_side li {
    background: #ffffff;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjcwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZWVlZWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 70%, #eeeeee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(70%,#ffffff), color-stop(100%,#eeeeee));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 70%,#eeeeee 100%);
    background: -o-linear-gradient(top,  #ffffff 0%,#ffffff 70%,#eeeeee 100%);
    background: -ms-linear-gradient(top,  #ffffff 0%,#ffffff 70%,#eeeeee 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 70%,#eeeeee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 );
    overflow: hidden;
}

#sidebar #newsletter span.sidebar-signup {
    color: #8DBD1D;
    font-size: 14px;
    line-height: 15px;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 5px;
    width: 189px;
}


#sidebar #newsletter span.sprite-mail-hover {
    vertical-align: 3px;
}

#sidebar #newsletter input[type="text"] {
    padding: 0px 10px;
    .border-radius(7px);
    margin-bottom: 8px;
}

#sidebar #newsletter input[type="submit"] {
    float: right;
    padding: 5px 10px;
    background: #dfdfdf;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RmZGZkZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkMGQwZDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #dfdfdf 0%, #d0d0d0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dfdfdf), color-stop(100%,#d0d0d0));
    background: -webkit-linear-gradient(top, #dfdfdf 0%,#d0d0d0 100%);
    background: -o-linear-gradient(top, #dfdfdf 0%,#d0d0d0 100%);
    background: -ms-linear-gradient(top, #dfdfdf 0%,#d0d0d0 100%);
    background: linear-gradient(to bottom, #dfdfdf 0%,#d0d0d0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfdfdf', endColorstr='#d0d0d0',GradientType=0 );
    color: #5F5654;
    font-weight: bold;
    .border-radius(7px);
    border: 0;
    text-shadow: 1px 1px 3px white;
    font-size: 15px;
}

#sidebar #newsletter input[type="submit"]:hover {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    text-decoration: none;
}

#sidebar #newsletter input[type="submit"]:active {
    -webkit-box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

#sidebar #need_help {
    padding: 25px 20px 20px;
}

#sidebar #need_help a {
    float: left;
    height: 40px;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
    line-height: 16px;
}

#sidebar #need_help span {
    float: right;
}

#sidebar #map div {
    padding: 7px;

    a {
        //width: 285px;
        background: url("@{imgPath}/trainingdragon_map_new.png") no-repeat;
        height: 148px;
        display: block;
    }
}

#sidebar #map h3,
#sidebar #where-we-are h3 {
    .border-top-radius(7px);
}

#sidebar #map address {
    font-style: normal;
    font-size: 12px;
    color: #908f90;
    margin-left: 5px;
    margin-bottom: 15px;
    line-height: 15px;
}

#sidebar .usercourse {
    margin-bottom: 0;
    border-bottom: none;
}

#sidebar .usercourse div.course .thumbnail {
    margin: 0 10px 0 0;
    padding: 6px;
    border:1px solid #d3d3d3;
    float: left;
    
    a {
        width: 70px;
    }
}

#sidebar .usercourse div.course .detail {
    float: left;
    width: 130px;
}

#sidebar .usercourse div.course h3 {
    padding:0;
    color: #2a909f;
    font-size: 14px;
    margin: 0;
    line-height: 14px;
}

#sidebar .usercourse div.course p {
    font-size: 12px;
    padding:0;
    margin:0;
    color: #908f90;
}

#sidebar .usercourse div.course a {
    color: #87b612;
    font-size: 11px;
}

#sidebar .usercourse div.course a:hover {
    text-decoration: none;
}

.sidebar-SO h2 {
    font-size: 15px;
    text-transform: uppercase;
    margin: 0;
    padding: 10px 15px;
    color: #fff;
    .border-radius(5px 5px 0 0);
    text-shadow: 0px 1px 0px #333;
}

.SO-body {
    border: 2px solid #93d4de;
    border-top: 0;
    .border-radius(0 0 5px 5px);
    .see-more {
        display: block;
        text-align: center;
        background: #edf9fb;
        padding: 5px;
        .border-radius(0 0 5px 5px);
    }
}

#sidebar .SO-body .usercourse li {
    padding: 10px 8px;
    background: #edf9fb;
    &:nth-child(even) {
        background: #ddf3f7;
    }
}

.SO-body .main-price {
    text-decoration: line-through;
}