[class^="sprite-"],
[class*=" sprite-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  *margin-right: .3em;
  vertical-align: middle;
  background-image: url("@{spritePath}");
  background-position: 14px 14px;
  background-repeat: no-repeat;
  margin-top: 1px;
}


.sprite-arrow-next-hover{ background-position: 0 0; width: 13px; height: 25px; } 
.sprite-arrow-next{ background-position: -14px 0; width: 13px; height: 25px; } 
.sprite-arrow-prev-hover{ background-position: -28px 0; width: 14px; height: 26px; } 
.sprite-arrow-prev{ background-position: -43px 0; width: 12px; height: 24px; } 
.sprite-basket-hover{ background-position: -56px 0; width: 16px; height: 15px; } 
.sprite-basket-nav-hover{ background-position: -73px 0; width: 27px; height: 23px; } 
.sprite-basket-nav{ background-position: -101px 0; width: 27px; height: 23px; } 
.sprite-basket{ background-position: -129px 0; width: 16px; height: 15px; } 
.sprite-blog-facebook-inactive{ background-position: -146px 0; width: 23px; height: 23px; } 
.sprite-blog-facebook{ background-position: -170px 0; width: 23px; height: 23px; } 
.sprite-blog-twitter-inactive{ background-position: -194px 0; width: 22px; height: 23px; } 
.sprite-blog-twitter{ background-position: -217px 0; width: 22px; height: 23px; } 
.sprite-blueArrow{ background-position: -240px 0; width: 6px; height: 10px; } 
.sprite-checkout-final{ background-position: -247px 0; width: 23px; height: 24px; } 
.sprite-clip{ background-position: -271px 0; width: 12px; height: 22px; } 
.sprite-contact-car{ background-position: -284px 0; width: 24px; height: 24px; } 
.sprite-contact-phone{ background-position: -309px 0; width: 24px; height: 24px; } 
.sprite-contact-us-hover{ background-position: -334px 0; width: 106px; height: 37px; } 
.sprite-contact-us{ background-position: -441px 0; width: 106px; height: 37px; } 
.sprite-contact-walk{ background-position: -548px 0; width: 17px; height: 27px; } 
.sprite-delete{ background-position: -566px 0; width: 16px; height: 32px; } 
.sprite-downarrow-blue{ background-position: -583px 0; width: 22px; height: 26px; } 
.sprite-downarrow-course{ background-position: -606px 0; width: 14px; height: 8px; } 
.sprite-facebook-link-hover{ background-position: -621px 0; width: 34px; height: 34px; } 
.sprite-facebook-link{ background-position: -656px 0; width: 34px; height: 34px; } 
.sprite-fb-feed{ background-position: -691px 0; width: 32px; height: 33px; } 
.sprite-fb-hover{ background-position: -724px 0; width: 21px; height: 21px; } 
.sprite-fb{ background-position: -746px 0; width: 21px; height: 21px; } 
.sprite-gplus-feed{ background-position: -768px 0; width: 34px; height: 34px; } 
.sprite-gplus-link-hover{ background-position: -803px 0; width: 34px; height: 34px; } 
.sprite-gplus-link{ background-position: -838px 0; width: 34px; height: 34px; } 
.sprite-gplus-xbfeed{ background-position: -873px 0; width: 34px; height: 34px; } 
.sprite-gplusx-hover{ background-position: -908px 0; width: 21px; height: 21px; } 
.sprite-gplusx{ background-position: -930px 0; width: 21px; height: 21px; } 
.sprite-green-arrow{ background-position: -952px 0; width: 9px; height: 12px; } 
.sprite-header-phone{ background-position: -962px 0; width: 137px; height: 21px; } 
.sprite-headerPX{ background-position: -1100px 0; width: 1px; height: 67px; } 
.sprite-linkedin-link-hover{ background-position: -1102px 0; width: 34px; height: 34px; } 
.sprite-linkedin-link{ background-position: -1137px 0; width: 34px; height: 34px; } 
.sprite-list-highlight{ background-position: -1172px 0; width: 9px; height: 12px; } 
.sprite-mail-hover{ background-position: -1182px 0; width: 28px; height: 19px; } 
.sprite-mail{ background-position: -1211px 0; width: 28px; height: 19px; } 
.sprite-navArrow{ background-position: -1240px 0; width: 15px; height: 7px; } 
.sprite-navSearch{ background-position: -1256px 0; width: 20px; height: 20px; } 
.sprite-phone-grey{ background-position: -1277px 0; width: 24px; height: 24px; } 
.sprite-print-hover{ background-position: -1302px 0; width: 23px; height: 22px; } 
.sprite-print{ background-position: -1326px 0; width: 23px; height: 22px; } 
.sprite-selectBox-arrow{ background-position: -1350px 0; width: 33px; height: 35px; } 
.sprite-sidebar-phone{ background-position: -1384px 0; width: 35px; height: 34px; } 
.sprite-slider-next-large{ background-position: -1420px 0; width: 34px; height: 66px; } 
.sprite-slider-next{ background-position: -1455px 0; width: 17px; height: 33px; } 
.sprite-slider-prev-large{ background-position: -1473px 0; width: 34px; height: 66px; } 
.sprite-slider-prev{ background-position: -1508px 0; width: 17px; height: 33px; } 
.sprite-tweet-feed{ background-position: -1526px 0; width: 34px; height: 34px; } 
.sprite-tweet-hover{ background-position: -1561px 0; width: 20px; height: 21px; } 
.sprite-tweet{ background-position: -1582px 0; width: 20px; height: 21px; } 
.sprite-twitter-link-hover{ background-position: -1603px 0; width: 34px; height: 34px; } 
.sprite-twitter-link{ background-position: -1638px 0; width: 34px; height: 34px; } 
.sprite-uparrow-blue{ background-position: -1673px 0; width: 35px; height: 21px; } 
.sprite-uparrow-course{ background-position: -1709px 0; width: 14px; height: 8px; } 
.sprite-uparrow-white{ background-position: -1724px 0; width: 30px; height: 26px; } 
.sprite-white-arrow{ background-position: -1755px 0; width: 9px; height: 12px; } 
.sprite-zblog-rss{ background-position: -1765px 0; width: 25px; height: 25px; } 





.sprite-arrow-next:hover{.sprite-arrow-next-hover;}
.sprite-arrow-prev:hover{.sprite-arrow-prev-hover;}
.sprite-basket:hover{.sprite-basket-hover;}
.sprite-basket-nav:hover{.sprite-basket-nav-hover;}
.sprite-contact-us:hover{.sprite-contact-us-hover;}
.sprite-facebook-link:hover{.sprite-facebook-link-hover;}
.sprite-fb:hover{.sprite-fb-hover;}
.sprite-gplusx:hover{.sprite-gplusx-hover;}
.sprite-mail:hover{.sprite-mail-hover;}
.sprite-print:hover{.sprite-print-hover;}
.sprite-tweet:hover{.sprite-tweet-hover;}
.sprite-twitter-link:hover{.sprite-twitter-link-hover;}
.sprite-linkedin-link:hover{.sprite-linkedin-link-hover;}
.sprite-gplusx:hover{.sprite-gplusx-hover;}
.sprite-gplus-link:hover{.sprite-gplus-link-hover;}

.sprite-blueArrow {vertical-align: initial; margin: 0 10px;}
.sprite-headerPX {margin: 0 15px;}
.sprite-uparrow-blue{position: relative;left: 262px;top: -2px;}
.sprite-downarrow-blue{position: relative;left: 385px;z-index: 1000;top: -1px;}
.sprite-uparrow-white{position: absolute;margin: -25px 0 0 110px;}
.sprite-checkout-final{float: none;}
.sprite-navArrow{margin: 10px auto 50px 56%; cursor: pointer;}