/*!
 * 
 *
 */

@import "bootstrap.less";

#header .branding-phone {
    font-size: 12px;
    width: 137px;
    height: 50px;
    margin-top: 15px;
    text-align: right;
}

#header a.logo {
    margin-top: 10px;
    display: block;
    .pull-left;
    text-decoration: none;
}

#header .branding-right {
    margin-right: -15px;
    
    > div {
        .pull-left;
    }
    
}

.csstransforms3d #headLeft{
    -webkit-transform-style:preserve-3d;
    -moz-transform-style:preserve-3d;
    -ms-transform-style:preserve-3d;
    -o-transform-style:preserve-3d;
    transform-style:preserve-3d;
    -webkit-animation:logoRotate 8s infinite;
    -webkit-animation-delay:2s;
    -webkit-transform-origin:50% 0;
    
    -moz-animation:logoRotate 8s infinite;
    -moz-animation-delay:2s;
    -moz-transform-origin:50% 0;
    
    -ms-animation:logoRotate 8s infinite;
    -ms-animation-delay:2s;
    -ms-transform-origin:50% 0;
    
    -o-animation:logoRotate 8s infinite;
    -o-animation-delay:2s;
    -o-transform-origin:50% 0;
    
    animation:logoRotate 8s infinite;
    animation-delay:2s;
    transform-origin:50% 0;
}

#header #headLeft {
    width: 55px;
    height: 55px;
}

.no-csstransforms3d #header .hiddenFace{
    display:none;
    position: relative;
}

#header .logo-rotate {
    width: 55px;
    height: 55px;
    background: url("@{imgPath}/logo.png") no-repeat;
    .backface-visibility(hidden);
}

#header #header-search form,
#header #header-search form div {
    margin: 0;
}

.csstransforms3d #header .logo-rotate {
    position: absolute;
}

.csstransforms3d #header #hl-left{ 
    -webkit-transform:rotateY(-90deg) translateZ(32.5px);
    -moz-transform:rotateY(-90deg) translateZ(32.5px);
    -ms-transform:rotateY(-90deg) translateZ(32.5px);
    -o-transform:rotateY(-90deg) translateZ(32.5px);
    transform:rotateY(-90deg) translateZ(32.5px);
}

.csstransforms3d #header #hl-right{ 
    -webkit-transform:rotateY(90deg) translateZ(32.5px);
    -moz-transform:rotateY(90deg) translateZ(32.5px);
    -ms-transform:rotateY(90deg) translateZ(32.5px);
    -o-transform:rotateY(90deg) translateZ(32.5px);
    transform:rotateY(90deg) translateZ(32.5px);
}

.csstransforms3d #header #hl-front{
    -webkit-transform:rotateY(0deg) translateZ(32.5px); 
    -moz-transform:rotateX(0deg) translateZ(32.5px);
    -ms-transform:rotateX(0deg) translateZ(32.5px);
    -o-transform:rotateX(0deg) translateZ(32.5px);
    transform:rotateX(0deg) translateZ(32.5px);
}

.csstransforms3d #header #hl-back{
    -webkit-transform:rotateY(180deg) translateZ(32.5px); 
    -moz-transform:rotateY(180deg) translateZ(32.5px);
    -ms-transform:rotateY(180deg) translateZ(32.5px);
    -o-transform:rotateY(180deg) translateZ(32.5px);
    transform:rotateY(180deg) translateZ(32.5px);
}

@keyframes logoRotate {
    0%{transform:  rotateY(0deg);}
    50%{transform:  rotateY(360deg); }
    100%{transform:  rotateY(360deg); }
}

@-webkit-keyframes logoRotate {
    0%{-webkit-transform:  rotateY(0deg);}
    50%{-webkit-transform:  rotateY(360deg); }
    100%{-webkit-transform:  rotateY(360deg); }
}

@-moz-keyframes logoRotate {
    0%{-moz-transform:  rotateY(0deg);}
    50%{-moz-transform:  rotateY(360deg); }
    100%{-moz-transform:  rotateY(360deg); }
}

@-o-keyframes logoRotate {
    0%{-o-transform:  rotateY(0deg);}
    50%{-o-transform:  rotateY(360deg); }
    100%{-o-transform:  rotateY(360deg); }
}

@-ms-keyframes logoRotate {
    0%{-ms-transform:  rotateY(0deg);}
    50%{-ms-transform:  rotateY(360deg); }
    100%{-ms-transform:  rotateY(360deg); }
}

#primary-nav {

    position: relative;
    z-index: 1;

    ul {
        margin: 0;
        .clearfix();
        overflow: hidden;
        padding: 1px;
    }
}
#header .mobile-basket {
    .pull-right;
    background: #fff;
    .border-radius(7px);
    width: 70px;
    border: 1px solid #8dbd1d;
    min-height: 36px;
}

#header #mobile-logo {
    margin-bottom: 10px;
}

#header .mobile-basket.basketEmpty {
    width: auto;
    border: 1px solid #e2e2e2;
}

#header .mobile-basket a.basketInfo {
    display: block;
    padding: 5px 10px 6px 10px;
    .border-right-radius(7px);
}

#header .mobile-basket a.basketInfo {
    .pull-right;
}

#header .mobile-basket .basketCount {
    padding: 6px 0px;
    width: 30px;
    text-align: center;
    .border-left-radius(7px);
    font-size: 17px;
    //height: 23px;
    line-height: 22px;
    .pull-left;
    color: #8dbd1d;
    border-right: 1px solid #d2d2d2;
}

#header .mobile-basket.basketEmpty .basketCount {
    .hide;
}

#header .mobile-basket a.basketInfo:hover .sprite-basket {
    .sprite-basket-hover;
}

#header #header-search input.span3 {
    height: 36px;
}

#header #header-search button {
    height: 36px;
    background: #e6e4e4;
    outline: none;
}

#header .sprite-contact-us {
    text-indent: -9999px;
    .transition(none);
}
/*

#header a.register {
    border-right: 1px solid #666666;
    margin-right: 10px;
    padding-right: 10px;
}

#header a.register,
*/

#header a.login {
    display: inline-block;
    height: 16px;
    color:#8fc21d;
    text-decoration: none;
    margin-bottom: 15px;
    vertical-align: bottom;
    padding-top: 5px;

    &:hover {
        text-decoration: underline;
    }
}

#header .login-wrap {
    float: right;
    border-right: 1px solid #dcddd8;
    padding-right: 20px;
    padding-top: 0px;
}

#primary-nav ul > li {
    float: left;
    list-style: none;

    a {
        padding: 0 34px;
        height: 42px;
        line-height: 42px;
        font-size: 16px;
        font-weight: bold;
        text-shadow: 1px 1px 4px #777;
        color: #fff;
        display: block;
        .greenGradient;
        border-bottom: 1px solid #619235;
        border-top: 1px solid #83a040;
        border-left: 1px solid #c3e478;
        border-right: 1px solid #83a040;
        .box-shadow(#656565 0px 1px 3px);
        text-shadow: 1px 1px 4px #777;
        text-decoration: none;


        &:hover,
        &.selectedNav {
            text-decoration: none;
            #gradient > .td(#2da5b8, #49C1D4);
        }
    }

    &#about {
        .border-right-radius(7px);

        a {
            .border-right-radius(7px);
        }
    }
    
    &:first-child {
        .border-left-radius(7px);
        
        a {
            .border-left-radius(7px);
            border-left: none;
        }
    }

    &.basketInfo {
        .border-radius(7px);
        float: right;

        a {
            .border-radius(7px);
            font-size: 15px;
            padding: 0 12px;
            .reset-filter();
            background: #fff;
            border: 1px solid #e2e2e2;
            .box-shadow(none);
            text-shadow: none;
            color: #524845;
            
            &:hover {
                background: #fff;
                color: #5c7211;

                .sprite-basket-nav {
                    .sprite-basket-nav-hover;
                }

            }
            
        }
    }
}

.mobile-basket a {
    
}



#subNav-wrap {
}

.subNav {
    .hide;
    background: #248897 url(http://www.trainingdragon.co.uk/system/application/views/templates/images/londonShadowNav.png) 50% 100% no-repeat;
    padding-bottom: 50px;
    //margin-top: -25px;

    &.active {
        .show;
        
    }
    
    ul {
        margin: 0;
        
        &.course_nav_list {
            float: left;
        }
    }

    li {
        list-style: none;
    }
    
    .subNavContainer {
        .hide;
        .pull-left;
        .clearfix();
        .box-sizing(content-box);
        width: 740px;
        background: rgba(50, 185, 207, 0.46);
        .border-radius(7px);
        .box-shadow(0px 0px 15px -5px #000);
        padding: 20px 8px 40px;
        min-height: 450px;

        &.activeNav {
            
            .show;
        }

        ul {
            .pull-left;
            width: 234px;
            height: auto;
            list-style: none;
            margin: 0 10px 0 0;
            min-height: 0px;
            height: auto;
        }

    }

    .portion {
        padding-top: 70px;
    }

    &.active {
    
        .course_nav_list {
            .show;
        }
    } 

    a {
        color: #fff;
    }

}

.subNav .course_nav_list {
    width: auto;
    margin: 45px 0 0 0;
    padding: 0 inherit;
}

.subNav .course_nav_list li {
    //line-height: 36px;
}

.subNav .course_nav_list a {
    font-size: 14px;
    .border-left-radius(7px);
    padding: 10px 10px 10px 15px;
    margin-bottom: 10px;
    .box-shadow(-3px 4px 9px -5px black);
    width: 184px;
    font-weight: bold;
    display: block;
    line-height: 15px;
    margin-left: 0;
}

.subNav .course_nav_list a.active,
.subNav .course_nav_list a:hover {
    background: #2a9db0;
    position: relative;
}

#home .subNav,
#home .mobileSubNav {
    background: #248897;
}

.mobileSubNav {
    padding-top: 40px;
    //margin-top: -25px;
    display: none;
    padding-bottom: 50px;
    background: #248897 url("@{imgPath}/mobileBGImg.png") no-repeat 50% 100%;
    padding-left: 10px;
    padding-right: 10px;
}

#mobileSubNavWrap {
    background: #248897 url("@{imgPath}/sliderBg.jpg")repeat-y;
    background-size: 100% 100%;
}

#mobileSubNavWrap a {
    display: block;
    color: #fff;

    &:hover {
        text-decoration: none;
    }
}

#mobileSubNavWrap ul.mainCat a ~ .subCatWrap {
    display: none;
}

#mobileSubNavWrap ul.mainCat a.active ~ ul.subCat {
    //display: block;
}

#mobileSubNavWrap ul.mainCat a {
    text-decoration: none;
}

#mobileSubNavWrap ul.mainCat > li > a {
    padding: 7px 30px 7px 10px;
    .greenGradient;
    font-weight: bold;
    .box-shadow(0px 4px 10px -5px black);
    margin-bottom: 2px;

}

#mobileSubNavWrap ul.mainCat > li:first-child > a {
    .border-top-radius(7px);
}

#mobileSubNavWrap ul.mainCat > li:last-child > a {
    .border-bottom-radius(7px);
}

#mobileSubNavWrap ul.subCat {
    .clearfix();
}

#mobileSubNavWrap ul.subCat a ~ .courseNamesWrap {
    display: none;
    .clearfix();
}

#mobileSubNavWrap ul.subCat a.active ~ ul.courseNames {
    //display: block;
}

#mobileSubNavWrap ul.subCat > li > a {
    font-weight: bold;
    padding: 7px 30px 7px 10px;
    .border-radius(3px);
    background: #2eabbf;
    .box-shadow(0px 4px 10px -5px black);
    margin-bottom: 2px;
}

#mobileSubNavWrap ul.courseNames {
    width: 322px;
    float: left;
    margin-bottom: 20px;
    margin-top: 15px;
}

#mobileSubNavWrap ul.subCat ul.courseNames:nth-child(odd) {
    margin-right: 80px;
}

#mobileSubNavWrap ul.courseNames li a {
    background: #248897;
    margin-left: 7px;
    padding: 3px 0px 3px 5px;

    &:hover {
        background: #50abb9;
        text-decoration: none;
    }
}

#mobileSubNavWrap ul.courseNames li.courseHeader a {
    border-bottom: 1px solid #56b7c6;
    height: 30px;
    margin-bottom: 10px;
    font-weight: bold;
    
    &:hover {
        background: none;
    }
}

#mobileSubNavWrap li {
    list-style: none;
}

#mobileSubNavWrap ul {
    margin: 0;
    width: 100%;
}

#mobileSubNavWrap a.active .icon-chevron {
    .icon-chevron-down;
}

#mobileSubNavWrap .icon-chevron {
    .icon-chevron-up;
    background-image: url("@{iconWhiteSpritePath}");
    .pull-right;
}

#main {
    margin-top: -25px;
    padding-top: 50px;
    background: #f3f3f3; //url('@{imgPath}/top_grad.jpg') repeat-x bottom;
    border-top: 2px solid #e9e9e9;
    //padding-bottom: 100px;
}

#top-bar {
    position: relative;
    z-index: 1;
}

#menu-wrap {
    margin-top: -20px;
}

.topBarWrap {
    //.makeRow();
}

section#contentWrap {
    //.makeRow();
    .clearfix();
}

    #content {
        //.makeColumn(9);
    }

    #content.fullWidth {
        float: none;
        width: 100%;
    }

.gridRow {
    //.makeRow();
}



#breadcrumb {
    margin:0 0 10px 0;
    background: white;
    border: 1px solid #d5d5d5;
    .border-radius(7px);
    padding: 8px 0 8px 17px;
}



#footer li {list-style: none;}

#footer {
    background: #f3f3f3 url("@{imgPath}/mobileFooterGrad.png");
    width: auto;
    height: 555px;
    background-size: 100% 100%;
}

#footerBg {
    width: auto;
    height: 555px;
    background: url("@{imgPath}/phone_footer_bg_design.png");
    background-repeat: no-repeat;
    background-position: 50% 58%;   
}

#footerBg2 {
    width: auto;
    height: 555px;
    background: url("@{imgPath}/phone_footer_bg2.png");
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: 100% 36%;
}

#footerContent {
    margin: 0 auto;
    position: relative;
    height: 100%;
}

#footerContent img.footerLogo {
    position: absolute;
    left: 58px;
    top: 45px;
}


#footerContent ul#siteMap {
    list-style: none;
    overflow: hidden;
    position: absolute;
    left: 240px;
    top: 40px;
    color:#fff;
    margin: 0;
}

#footerContent ul#siteMap li {
    float: left;
    width: 230px;
    margin: 0 0 15px 0;
    background: none;
    padding: 0;
}

#footerContent ul#siteMap li a {
    color: #fff;
    font-size: 13px;
    text-decoration: none;
}

#footerContent ul#siteMap li a span {
    font-size: 18px;
    color: #fff;
}

#footerContent ul#siteMap li a:hover,
#footerContent ul#siteMap li a:hover span {
    text-decoration: underline;
}

#footerContent ul#siteMap li span {
    display: block;
}

#footerContent ul#social {
    margin: 0 auto;
    width: 270px;//235px;
    height: 50px;
    position: relative;
    top: 450px;
    background: url("@{imgPath}/background-shadow-social.png") 0px 17px;
    background-repeat: no-repeat;
}

#footerContent ul#social li {
    float: left;
    background: none;
    margin: 0;
    padding: 0;
}

#footerContent ul#social li a {
    font-size: 0;
    margin-right: 10px;
    text-decoration: none;
    .hide-text;
}


#footerContent p.copy{
    color: #fff;
    font-size: 12px;
    position: relative;
    top: 445px;
    width: 265px;
    margin: 0 auto;
    text-align: center;
    line-height: 16px;

}
#footerContent p.copy a {
    color: #fff;
    font-size: 12px;
    text-decoration:none;
}

#footerContent p.copy a:hover {
    text-decoration:underline;
}

#home #main {
    margin-top: 0px;
    padding-top: 25px;
}

.col {
    width: auto;
    float: none;
    margin-left: 0;
}

.typeahead {
    position: absolute;
    z-index: 999;
    background: #fff;
    margin: 0;
    width: 185px;
    .box-shadow(0px 3px 15px @gray);

    li {
        list-style: none;

        &:nth-child(even) {

            a {
                background-color: #f4f3f3;
            }
        }
        
        a {
            display: block;
            padding: 7px 15px;
            text-decoration: none;
            color: #828282;
            text-shadow: 1px 1px 3px #fff;

            &:hover {
                background-color: #cae291;
                color: #678e0e;
            }

            
        }
    }
}

#search h1 {
    font-size: 13px;
    margin: 0;
}

.tdButton {
    .greenGradient;
    text-shadow: 1px 1px 4px #777;
    border: 1px solid #87a63e;
    .border-radius(7px);
    color: #fff;
    padding: 10px 15px;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    .ie7-inline-block();
    outline: none;

    &:hover {
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        text-decoration: none;
        color: #fff;
    }

    &:active {
        .box-shadow(~"inset 0 3px 7px rgba(0,0,0,0.15), 0 1px 2px rgba(0,0,0,0.05)");
        //.box-shadow(~"inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(137,184,28,.6)");
    }

}

#home #coursesList h2 {
    font-size: 15px;
}

#sidebar #mobileContact {
    
    background: none !important;
    border: none;
    .border-radius(0);
    
     > a {
        #gradient > .td(#41BED3, #2EAABF);
        .border-radius(7px);
        display: block;
        text-align: center;
        color: #fff;
        text-shadow: 1px 1px 4px #777;
        padding: 7px 10px;
        .box-shadow(5px 5px 5px -3px #d5d5d5);
        font-size: 16px;
        color: #fff;
        font-weight: bold;

        &:hover {
            text-decoration: none;
            text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        }

        &:active {
            .box-shadow(~"inset 0 3px 7px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05)");
        }

        &.contactNo {
            margin-bottom: 10px;
            font-weight: normal;

            span {
                font-size: 25px;
                font-weight: bold;
                display: block;
            }
        }
    }

    
}



@import "oldStyle.less";

@import "sidebar.less";
@import "reglog.less";
@import "course.less";
@import "directions.less";
@import "paypal.less";
@import "team.less";
@import "ordercompleted.less";
@import "rating.less";
@import "internetexplorer.less";

@import "selectBox.less";

@import "customInput.less";

@import "customFile.less";

@import "jqueryui.less";

//@import "qtip.less";

@import "responsive.less";